<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
	  <div class="hs-item set-bg" data-setbg="/assets/bg.jpg">
	    <div class="container">
	      <div class="row">
	        <div class="col-xl-6 col-lg-7 text-white">
	          <h2>New Arrivals</h2>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
	          <a href="#" class="site-btn sb-line">DISCOVER</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="hs-item set-bg" data-setbg="/assets/bg-2.jpg">
	    <div class="container">
	      <div class="row">
	        <div class="col-xl-6 col-lg-7 text-white">
	          <h2>Summer Refresh</h2>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
	          <a href="#" class="site-btn sb-line">DISCOVER</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container">
	  <div class="slide-num-holder" id="snh-1"></div>
	</div>
</section>
<!-- Features section -->
<section class="features-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="/assets/icons/1.png" alt="#">
					</div>
					<h2>Latest Fashion</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="/assets/icons/2.png" alt="#">
					</div>
					<h2>Premium Products</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="/assets/icons/3.png" alt="#">
					</div>
					<h2>Handpicked For You</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section end -->
<%= react_component("Home") %>
